.date{
    display: flex;
}

.card {
  padding: 1rem;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
  border-radius: 14px;
  background-color: whitesmoke;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.card h1{
    font-family: LEMON MILK;
    font-size: 20px;
}
.card p{
    font-family: LEMON MILK;
    font-size: 10px;
}
.card h1,
.card p{
    margin: 0;
}