.main,
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  height: 100vh;
  background-image: url("../assets/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main img {
  width: 500px;
}

.content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600 ;
  text-align: center;
  font-size: 40px;
  width: 60%;
}

.content span {
  background-color: #f8cf83;
}

.content h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.content input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background: transparent;
}


@media (max-width: 480px) {
  .content h3 {
    font-size: 22px;
  }

  .main {
    background-size: contain;
  }

  .main img {
    width: 350px;
  }

  .content input {
    font-size: 15px;
  }
  .content h6 {
    font-size: 15px;
  }
}

@media (min-width: 481px) {
  .content h6 {
    font-size: 25px;
  }
  .content input {
    font-size: 25px;
  }
  .main {
    height: 100vh;
  }
}

