.dashboard {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "side header"
    "side main";
}

.sideNavBar {
  grid-area: side;
}

.header {
  background-color: white;
  grid-area: header;
}

.main {
  background-color: #d1d1d1;
  grid-area: main;
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media (max-width: 480px){
  .dashboard {
    grid-template-columns: 0px 1fr;
  }
  .main{
    margin-left: 20px;
  }
  .sideNavBar{
    visibility: hidden;
  }
}

@media (min-width: 481px){
  .dashboard {
    grid-template-columns: 0px 1fr;
  }
  .main{
    margin-left: 20px;
  }
  .sideNavBar{
    visibility: hidden;
  }
}

@media (min-width: 769px){
  .dashboard {
    grid-template-columns: 250px 1fr;
    grid-template-rows: 20px 1fr;
  }
  .sideNavBar{
    visibility: visible;
  }
  .main{
    margin-left: 0px;
  }
  .header{
    visibility: hidden;
  }
}


