.habits {
  overflow-x: hidden;
}

.emptyImg{
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyImg img{
 width: 800px;
}

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e4;
  border-radius: 10px;
  /* border: 1px dotted gray; */
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 185, 185);
}

.card {
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 60%;
  min-height: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekView{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.date{
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  margin-bottom: 0;
}
.days{
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.count {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 15px;
}

.card h1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  background-color: #f8cf83;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 480px) {
  .emptyImg img{
 width: 600px;
 padding-left: 45px;
}
.card h1 {
  font-size: 25px;
}
.weekView h2{
  font-size: 18px;
}
.weekView h4{
  font-size: 12px;
}
}

@media (min-width: 481px) {
.emptyImg img{
 width: 650px;
 padding-left: 45px;
}
}